portal/ns/haystack.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:haystack="https://project-haystack.org/def/ph/3.9.11#" targetNamespace="https://project-haystack.org/def/ph/3.9.11#" 	
	elementFormDefault="qualified" attributeFormDefault="qualified">
	
	<!-- Extend as needed to incorporate Haystack tags -->
	<element name="haystack">
		<annotation>
			<documentation>Haystack tags</documentation>
		</annotation>
		<complexType>
			<all>
				<element name="id" type="string" minOccurs="0"/>
				<element name="electra" type="string" fixed="" minOccurs="0"/>
			</all>
		</complexType>
	</element>
</schema>
